* {
	margin: 0%;
	padding: 0%;
	background-color: beige;
}

.navbar ul {
	background-color: #0f0d0e3f;
	padding: 1%;
	text-decoration: none;
}

.navbar li {
	background-color: aqua;
	text-decoration: none;
}