* {
	/* Google Fonts: Roboto */
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
}

/* center a div */
.center {
	text-align: center;
}



.content {
	background-color: red;
	padding: 2%;
	text-align: center;
}

/* Style for Home section */
.Home {
	
}

/* Style for About section */
.About {


}

/* Style for Skills section */
.Skills {

}

/* Style for Projects section */
.Projects {

}

/* Style for Contact section */
.Contact {

}
