* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: aqua;
	/* Google Fonts: Roboto */
	font-family: 'Roboto', sans-serif;
}

/* navbar styling */

.navbar {
	padding-left: 1%;
	padding-top: 1%;
	background-color: #2F2B2B;
	display: flex;
	position: relative;
}

.navbar .image {
	
	display: flex;
}

.navbar p {
	padding: 5%;
	display: flex;
}
 nav {
	display: flex;
	justify-content: space-around; 
	align-items: center;
	background-color: #2F2B2B;
}

.navbar ul {
	float: right;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

nav li {
	list-style: none;
}

nav a {
	text-decoration: none;
}


/* Style for main content */

.title {
	text-align: center;
}

.content {
	background-color: red;
	padding: 2%;
	text-align: center;
}

/* Style for Home section */
.Home {
	
}

/* Style for About section */
.About {

}

/* Style for Skills section */
.Skills {

}

/* Style for Projects section */
.Projects {

}

/* Style for Contact section */
.Contact {

}
