* {
	/* Google Fonts: Roboto */
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
}
/* header styling */
.img p {
	
	display: center;
}
/* navbar styling */

.navbar {
	display: flex;
	justify-content: space-between;
}



.navbar li, a {
	text-decoration: none;
}

.navbar li {
	float: right;
	display: inline;
  }

  .navbar li a:hover {
	background-color: #111;
  }





 


/* Style for main content */

.title {
	text-align: center;
}

.content {
	background-color: red;
	padding: 2%;
	text-align: center;
}

/* Style for Home section */
.Home {
	
}

/* Style for About section */
.About {

}

/* Style for Skills section */
.Skills {

}

/* Style for Projects section */
.Projects {

}

/* Style for Contact section */
.Contact {

}
