* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	color: aqua;
	/* Google Fonts: Roboto */
	font-family: 'Roboto', sans-serif;
	overflow: auto;
}

/* navbar styling */


.navbar {
	position: fixed;
	width: 100%;
	top: 0%;
	background: #20201E;	
	display: inline-block;
	display: block;

}


/* Style for Home section */
.Home {

}

/* Style for About section */
.About {

}

/* Style for Skills section */
.Skills {

}

/* Style for Projects section */
.Projects {

}

/* Style for Contact section */
.Contact {

}
